.button {
	@apply cursor-pointer block w-full rounded-3xl py-2 px-4 shadow outline-none transition-opacity max-w-[32rem];
}

.button-primary {
	@apply cursor-pointer block w-full rounded-3xl py-2 px-2 shadow outline-none text-white bg-primary transition-opacity max-w-[32rem];
}

.button-border {
	@apply cursor-pointer block rounded-3xl shadow outline-none text-primary border border-primary transition-opacity max-w-[32rem] hover:text-white hover:bg-primary active:bg-white active:text-primary;
}

.button-border-gray {
	@apply cursor-pointer block rounded-3xl shadow outline-none text-gray-dark border border-gray-dark transition-opacity max-w-[32rem] hover:bg-primary hover:text-white hover:border-primary;
}

input,
select,
textarea {
	@apply block rounded-2xl border border-gray-dark p-3 outline-none focus:border-blue h-10;
}

label {
	@apply pl-4;
}

button:hover:not([disabled]) {
	@apply opacity-80;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#__next {
	height: 100%;
}

::-webkit-scrollbar {
	display: none;
}

* {
	scroll-margin-top: 250px;
}
