@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Inter';
		src: url('../public/fonts/Inter-VariableFont_slnt\,wght.ttf');
	}
}
@layer utilities {
	input[type='number']::-webkit-inner-spin-button, 
	input[type='number']::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
	}
}
html {
	scroll-behavior: smooth;
}